<html>

<body>
    <nav th:fragment="navbar" class="navbar w-full p-4 flex items-center gap-4">
        <a href="/">
            <h1 class="text-4xl font-bold">OnionSpring</h1>
        </a>
        <div class="flex-grow"></div>
        <a href="/viewOrder" th:if="${session.user}">Welcome back <span th:text="${session.userFirstname}" class="font-bold"></span></a>
        <a href="/cart" th:if="${session.user}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M1 2v2h2l3.6 7.59l-1.36 2.45c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42a.25.25 0 0 1-.25-.25c0-.05.01-.09.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.47c.07-.16.12-.33.12-.5a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2Z" />
            </svg>
        </a>
        <a href="/logout" th:if="${session.user}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h7v2H5v14h7v2H5Zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5l-5 5Z" />
            </svg>
        </a>

        <a href="/login" th:if="${session.user} == null">Login</a>
        <a href="/createAccount" th:if="${session.user} == null">Create Account</a>
    </nav>
</body>

</html>