body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c99999;
    /* Make sure the container takes up the full height of the viewport */
}

.center-text {
    text-align: center;
}

p {
    font-family: Avenir;
    font-size: 25px;
}