<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        h1 {
            color: cornflowerblue;
            font-size: 150%;
        }
    </style>
</head>

<body>
    <a href="/">Home</a>
    <h1>New Orders</h1>
    <p> incoming orders here </p>
    <h1>Ongoing Orders</h1>
    <p> current orders here </p>
    <h1>Completed Orders</h1>
    <p> completed orders here</p>
</body>
<br>
<a href="/logout">Logout</a>

</html>