<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title='Your Cart')}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}" />

    <main>
        <h2 class="title">Your Cart</h2>

        <section>
            <table class="w-full">
                <thead>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </thead>

                <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.num}"></td>
                        <td><a th:href="@{/item/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.qty}"></td>
                        <td><button th:attr="onclick=|remove('${item.id}')|">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <a th:if="${items.size() > 0}" href="/payment"><button>Go to checkout</button></a>
    </main>

    <script>
        function remove(id) {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", `/api/item/${id}`, true);
            xhr.send();

            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    if (xhr.status == 204) {
                        window.location.reload();
                    } else {
                        alert("Failed.");
                    }
                }
            };
        }
    </script>
</body>

</html>