<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title='Your Cart')}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}" />

    <main>
        <h2 class="title">Your Cart</h2>

        <section>
            <table class="w-full">
                <thead>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </thead>

                <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.no}"></td>
                        <td th:text="${item.code}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.quantity}"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <a href="/payment"><button>Go to checkout</button></a>
    </main>
</body>

</html>