<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title='Create an Account')}"></head>

<body>
    <script>
        function createAccount() {
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var email = document.getElementById("email").value;
            var address = document.getElementById("address").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        alert("Account created successfully.");
                        window.location.href = "/login";
                    } else {
                        alert("Account creation failed.");
                    }
                }
            };

            xhr.open("POST", "/api/createAccount", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "firstName": firstName,
                "lastName": lastName,
                "email": email,
                "address": address,
                "password": password
            }));
        }

        window.onload = () => {
            document.getElementById("submit").addEventListener("click", createAccount);
        }
    </script>

    <div th:replace="~{fragments/navbar :: navbar}" />

    <main>
        <h2 class="title">Create an Account</h2>

        <section>
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName" />
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName" />
            <label for="email">Email</label>
            <input id="email" type="text" name="email" />
            <label for="address">Address</label>
            <input id="address" type="text" name="address" />
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" name="confirmPassword" />

            <br />

            <button id="submit">Create Account</button>
        </section>
    </main>
    </section>
</body>

</html>