<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OnionSpring: Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/loggedOutIndex.css}" />
</head>

<body>

    <div class="desktop-1">
        <nav class="desktop-1-child">

            <a class="group-a" id="spring-onion" aria-label="home">
                <div class="group-child"></div>
                <img class="shopping-cart-icon" alt="" src="src/main/resources/static/images/home.png"
                    th:src="@{images/home.png}" />
                <div class="spring-onion">OnionSpring</div>
            </a>
        </nav>
        <div class="desktop-1-inner">
            <a class="buttons" href="/login">Login</a><br>
        </div>
    </div>

</body>

</html>