<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login.css}" />

    <script>
        function login(e) {
            e.preventDefault();

            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/login", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "email": email,
                "password": password
            }));

            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        alert("Login successful.");
                        window.location.href = "/";
                    } else {
                        alert("Login failed.");
                    }
                }
            };
        }

        window.onload = () => {
            document.getElementById("submit").addEventListener("submit", login);
        }
    </script>
</head>

<body>
    <nav>
        <a href="/">
            <img class="icon" th:src="@{images/home.png}" />
        </a>
        <a href="/">
            <span class="onionspring">OnionSpring</span>
        </a>
    </nav>

    <section>
        <h1>Login</h1>
        <form>
            <label for="email">Email</label>
            <br />
            <input id="email" type="text" name="email" />
            <br />
            <label for="password">Password</label>
            <br />
            <input id="password" type="password" name="password" />
            <br />
            <button type="submit" id="submit">Login</button>
        </form>
    </section>
</body>

</html>