<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        .items-text {
            color: blue;
            font-size: 150%;
        }

        .item-image {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <p class="items-text" th:text="'Here is the ' + ${action} + '!'" />
    <ul th:each="item : ${items}">
        <li>
            <img class="item-image" th:src="${item.imageUrl}" alt="Item image" />
            <br>
            <span th:text="${item.name}">
        </li>
    </ul>
    <a href="/">Go back to menu</a>
</body>

</html>
