<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title='Menu')}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}" />

    <main>
        <h2 class="title">The Menu</h2>
        <br />
        <input id="search" type="text" placeholder="Search..." />

        <section class="flex w-full flex-wrap gap-8 justify-center">
            <a class="item flex flex-col items-center gap-2 p-4 bg-white rounded-lg" th:each="item : ${items}"
                th:href="'/item/' + ${item.id}">
                <div class="flex h-full items-center">
                    <img class="max-w-[256px] max-h-[256px]" th:src="${item.image}" alt="Item image" />
                </div>
                <span class="font-bold" th:text="${item.name}"></span>
            </a>
        </section>
    </main>

    <script>
        var search = document.getElementById("search");

        search.addEventListener("keyup", function (event) {
            var items = document.getElementsByClassName("item");
            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                var name = item.getElementsByTagName("span")[0].innerText;

                if (name.toLowerCase().includes(search.value.toLowerCase())) {
                    item.style.display = "flex";
                } else {
                    item.style.display = "none";
                }
            }
        });
    </script>
</body>

</html>