<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head(title='Payment Details')}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}" />

    <main>
        <h2 class="title">Payment Details</h1>

            <section>
                <label for="cardName">Name on Card:</label>
                <input id="cardName" type="text" name="cardName">
                <label for="cardNum">Card Number:</label>
                <input id="cardNum" type="text" name="cardNum">
                <label for="CSV">CSV:</label>
                <input id="CSV" type="text" name="CSV">
                <label for="cardDate">Expiry:</label>
                <input id="cardDate" type="date" name="cardDate">

                <br />

                <button id="submit">Process Payment</button>
            </section>
    </main>

    <script>
        function validateCreditCard() {
            var creditCardNumber = document.getElementById('cardNum').value.replace(/\s/g, '');

            if (isValidCreditCard(creditCardNumber)) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/placeOrder", true);
                xhr.send();

                xhr.onreadystatechange = () => {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            alert('Success! Order placed!');

                            window.location.href = "/viewOrder";
                        } else {
                            alert("Failed.");
                        }
                    }
                }
            } else {
                alert('Invalid credit card!');
            }
        }

        function isValidCreditCard(cardNumber) {
            // Perform basic Luhn algorithm check
            var sum = 0;
            var doubleUp = false;

            for (var i = cardNumber.length - 1; i >= 0; i--) {
                var digit = parseInt(cardNumber.charAt(i), 10);

                if (doubleUp) {
                    if ((digit *= 2) > 9) digit -= 9;
                }

                sum += digit;
                doubleUp = !doubleUp;
            }

            return sum % 10 === 0;
        }

        window.onload = () => {
            document.getElementById("submit").addEventListener("click", validateCreditCard);
        }
    </script>
</body>

</html>