<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>THE PAYMENT PAGE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        h1 {
            color: cornflowerblue;
            font-size: 150%;
        }

        .name-text {
            color: orange;
            font-size: 250%;
        }

        #result {
            color: red;
            font-size: 150%;
        }
    </style>
</head>

<body>
    <a href="/">Home</a>
    <h1>Edit Payment Information</h1>
    <form>
        <table>
            <tr>
                <td><label for="cardName">Name on Card:</label></td>
                <td><input id="cardName" type="text" name="cardName" placeholder="Enter the name on the card" required>
                </td>
            </tr>
            <tr>
                <td><label for="cardNum">Visa Card Number:</label></td>
                <td><input id="cardNum" type="text" maxlength="19" name="cardNum" placeholder="Enter Visa card number"
                        required>
                </td>
            </tr>
            <tr>
                <td><label for="CSV">CSV:</label></td>
                <td><input id="CSV" type="text" maxlength="3" name="CSV" placeholder="Enter three digit CSV" required>
                </td>
            </tr>
            <tr>
                <td><label for="cardDate">Expiry:</label></td>
                <td><input id="cardDate" type="date" name="cardDate" required></td>
            </tr>
            <tr>
                <td><button type="submit">Change Order</button></td>
                <td><button onclick="validateCreditCard()">Process Payment</button></td>
            </tr>
        </table>
    </form>

    <div id="result"></div>

    <!-- display the result id -->
    <div th:text="${result}" id="result"></div>


    <script>
        function validateCreditCard() {
            var creditCardNumber = document.getElementById('cardNum').value.replace(/\s/g, '');

            if (isValidCreditCard(creditCardNumber)) {
                document.getElementById('result').innerText = 'Valid credit card!';
            } else {
                document.getElementById('result').innerText = 'Invalid credit card!';
            }
        }

        function isValidCreditCard(cardNumber) {
            // Perform basic Luhn algorithm check
            var sum = 0;
            var doubleUp = false;

            for (var i = cardNumber.length - 1; i >= 0; i--) {
                var digit = parseInt(cardNumber.charAt(i), 10);

                if (doubleUp) {
                    if ((digit *= 2) > 9) digit -= 9;
                }

                sum += digit;
                doubleUp = !doubleUp;
            }

            return sum % 10 === 0;
        }
    </script>
</body>

</html>